body, .App {
  font-family: 'Avenir', sans-serif;
}

h1 {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
  height: 300px;
  font-size: 2.5rem;
  color: #38371b;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.App {
  background: linear-gradient(-45deg, #696f2f, #433f14, #949435, #716610);
  background-size: 400% 400%;
  animation: gradientAnimation 20s ease infinite;
  min-height: 100vh;
}
/* Rest of the CSS remains the same */

nav {
  position: absolute;
  top: 10px;
  right: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-left: 15px;
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 40;
}
nav ul li a {
  color: white;
  text-decoration: none;
  padding: 5px 50px;  /* Increased padding */
  background-color: rgba(18, 59, 7, 0.2);
  border-radius: 30px;
  transition: background-color 0.3s ease;
  display: inline-block;  /* This ensures the padding is applied correctly */
  font-weight: bold;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;  /* Increased margin for more space between buttons */
}

.choose-role-btn {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.10rem;
  font-weight: 400;
  color: #ffffff;
  background-color: rgba(19, 52, 8, 0.2);
  border: none;
  border-radius: 25px;
  padding: 15px 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}

.choose-role-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.search-bar input {
  padding: 10px;
  border-radius: 30px 0 0 40px;
  border: none;
  outline: none;
}

.search-bar button {
  padding: 10px 15px;
  border-radius: 0 20px 20px 0;
  border: none;
  background-color: #0d6b10;
  color: white;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #45a049;
}
.role-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(83, 97, 7);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  z-index: 1000;
  width: 300px;
  text-align: center;
}

.role-box h2 {
  margin-bottom: 30px;
  color:white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.role-box button {
  display: block;
  width: 80%;
  padding: 15px;
  margin: 0 auto 20px;
  background-color: #0d6b10;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
}

.role-box button:last-child {
  margin-bottom: 0;
}

.role-box button:hover {
  background-color: #45a049;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(92, 108, 18);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  z-index: 1000;
  width: 300px;
  height: 400px; /* Adjust this value as needed */
}

.login-page input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #55790f;
  border-radius: 20px;
}

.login-page button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #0d6b10;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.login-page button:hover {
  background-color: #45a049;
}

h2{
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


.registration-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(92, 108, 18);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  z-index: 1000;
  width: 300px;
  height: 600px; /* Adjust this value as needed */
  text-align: center;
}

.registration-page input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #55790f;
  border-radius: 20px;
}

.registration-page button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #0d6b10;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
